*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:'Arial',sans-serif;   
}

html,body{
    scroll-behavior: smooth;
}

h1,label{
    font-family: 'Oswald', sans-serif;
}

p,li,small{
    font-family:'Open Sans',sans-serif;
}


:root {
    --nav: #0c0c0c;
    --navtext: #fff;
    --highlight: #3b70a1;
}

.container{
    width:100%;
    height:100%;
    display:flex;
    flex-direction:column;
}

.nav-contain{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    width:100%;
}

.nav-curtain{
    background:#FFFFFF;
    height:100vh;
    display: flex;
    flex-direction: column;
    position:relative;
    width:450px;
    transform:translateX(-450px);
    transition: all 300ms ease;
    /* display:none; */
}

.form-nav-curtain{
    background:#FFFFFF;
    height:100vh;
    display: flex;
    flex-direction: column;
    position:relative;
    width:450px;
    transform:translateX(450px);
    transition: all 300ms ease;
}

.form-curtain{
    background:#FFFFFF;
    height:100vh;
    display: flex;
    flex-direction: column;
    position:relative;
    width:450px;
    transition: all 300ms ease;
    transform:translateX(450px);
}

.nav-fixed-contain{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 18000;
    height:10rem;
    align-items:center;
}

.nav-ul{
    padding:1rem;
    text-decoration:none;
    list-style:none;
    font-size:2rem;
    margin-top:30vh;
}

.nav-item{
    padding:.75rem 0;
    text-transform:uppercase;
}

.nav-item:hover{
    text-decoration: underline;
    cursor:pointer;
}

.fa-bars, .fa-times{
    font-size:4rem;
    padding:1rem;
    color:white;
}

.fa-times{
    color:black;
}

.fa-bars:hover, .fa-times:hover{
    cursor:pointer;
}

.fa-bars-contain{
    z-index:12000;
    position:absolute;
    padding:1rem;
    align-self:center;
}

/* override styles from left burger icon */
.form-close{
    position:inherit;
    display:flex;
    justify-content:end;
    width:100%;
}

input,label,textarea{
    margin:0.4rem 0;
}

input{
    padding:1rem;
}

input[type="date"]{
    font-size:1.1rem;
    text-transform:uppercase;
    margin-left:0;
    padding-left:0.2rem;
    display:flex;
    align-items:center;
    padding: 1.5rem 0;
    padding-top:0;

}

#form-curtain-close-button{
    color:black;
}

.nav{
    z-index: 25000;
    left:0;
    top:0;
    position:fixed;
    /* height:15rem; */
    height:160px;
    display:flex;
    /* align-items:center; */
}

.form-nav{
    z-index: 25000;
    left:100%;
    top:0;
    position:fixed;
}

.form-curtain{
    left:100%;
}

.book{
    font-size:1.5rem;
    background:transparent;
    border:4px solid white;
    padding:1.5rem 2rem;
    color:white;
    transition:all 300ms ease;
    text-transform:uppercase;
}

.book:hover{
    background:white;
    color:black;
    cursor:pointer;
}

.book-button-contain{
    z-index:10000;
    margin-left:auto;
}

.book-button-contain{
    padding:1rem;
}

.hero{
    background-image:url("../img/restaurant.jpg");
    height:100%;
    width:100%;
    position:absolute;
    z-index:-1;
    filter:brightness(40%);
    top:0;
    left:0;
    background-repeat:no-repeat;
    background-size: cover;
}

.logo-contain{
    /* make the logo sit in the middle, above all else */
    width:100%;
    position:fixed;
    display:flex;
    justify-content:center;
    /* padding:1rem; */
    background:rgba(0,0,0,0.5);
}

.logo{
    fill:white;
    width:10rem;
    height:10rem;
    padding:1.2rem;
}

.animation-contain{
    width:100%;
    position:absolute;
    display:flex;
    justify-content:center;
}

.animation {
    position: relative;
    /* transform: translate(-50%, 0%); */
    top: 30vh;
    height: 50vw;
    /* left: 50%; */
    display:block;
    margin-left:auto;
    margin-right:auto;
}

.path {
    top: 50%;
    fill-opacity: 0;
}

.menu-contain{
    width:100%;
    display:flex;
    height:50rem;
    position:relative;
    top:100vh;
}

.menu-left{
    width:50%;
    display:flex;
    flex-direction:column;
    justify-content:center;
}

.menu-button{
    font-size:1.5rem;
    background:transparent;
    border:2px solid black;
    padding:0.5rem 1rem;
    color:black;
    transition:all 300ms ease;
    text-transform:uppercase;
}

.menu-button:hover{
    cursor:pointer;
}

.menu-left-content{
    width:70%;
    margin:auto;
}

.menu-right{
    width:50%;
    background-image:url('../img/menu-item.jpg');
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    height:50rem;
    background-attachment:fixed;
}

.menu-right-img{
    width:100%;
    height:100%;

}

.menu-copy, .menu-button{
    margin-top:1.5rem;
}


/* footer */

.footer {
    background: var(--nav);
    color: #fff;
    padding: 1em;
    max-height:100%;
    margin-top:auto;
    position:relative;
    top:100vh;
    padding:1.8rem;
}

.navigation-list,
.help-links-list,
.about-links-list,
.base-row-right-items {
    list-style: none;
    color: #7e7e7e;
}

.navigation-list,
.list-title {
    color: #fff;
}

.navigation-list {
    text-transform: uppercase;
}

.footer-top {
    display: flex;
    width: 50%;
    justify-content: space-between;
    font-size: var(--step--1);
}

.footer-bottom {
    display: flex;
    width: 100%;
    padding: 2rem 0rem;
    font-size: var(--step--2);
    box-sizing: border-box;
}

.base-row-left {
    width: 40%;
    align-self: flex-start;
    align-items: center;
}

.base-row-right-cont {
    display: flex;
    justify-content: end;
    width: 60%;
}

.base-row-right{
    display:flex;
    justify-content:flex-end;
    width:100%;
}

.fa-chevron-up{
    font-size:2.5rem;
}

.fa-chevron-up:hover{
    cursor:pointer;
}

.base-row-right-list {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0 1rem 0 0;
}

.mb-1 {
    margin-bottom: 1rem;
}

.mt-1 {
    margin-top: 1rem;
}

.fa-twitter-square, .fa-facebook-square, .fa-instagram-square{
    font-size:2rem;
}

.contact-form{
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    height:30%;
    padding:2rem;
}

.contact-input{
    padding:0.25rem;
    font-size:1.25rem;
}

.form-submit{
    padding:0.25rem;
    font-size:1.25rem;
}

.menu-curtain{
    width: 100%;
    height: 100%;
    z-index: 30000;
    position: fixed;
    top: 0;
    left: 0;
    background: white;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    transform:translateY(100%);
    transition: all 300ms ease;
}

.menu-curtain{
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
}

.menu-curtain ul{
    list-style:none;
}

.menu-curtain-close{
    width:100%;
    height:100%;
    display:flex;
    justify-content:flex-start;
}

summary:hover{
    cursor:pointer;
    text-decoration: underline;
}

.no-style-link{
    text-decoration:none;
    color:black;
}

.white{
    color:white;
}

iframe{
    overflow:scroll!important;
    /* height:100%!important; */
}

body[data-is-in-iframe]{
    overflow-y:scroll!important;
}

.about-left{
    background-image:url('../img/soup.jpg');
    background-attachment: fixed;
    height:50rem;
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat;
}

.menu-curtain-body{
    width:75%;
    /* height:50%; */
}

.gallery-curtain-close{
    align-self: baseline;
    justify-content: inherit;
    height: 100%;
}

.gallery-body{
    height:50%;
}

.d-contents{
    display:contents;
}

.hr{
    margin:1rem;
}

.menu-item{
    padding-bottom:1.5rem;
}

.ml-2{
    margin-left:2rem;
}

/* larger menu breaking layout - allow scroll to fix */
.menu-curtain{
    overflow-y:scroll;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
    .logo-contain{
        display:none;
    }

    .logo-contain{
        justify-content: end;
    }

    .hero{
        background-position: center;
    }

    #nav-fixed{
        background:rgba(0,0,0,0.5);
    }

    .animation{
        width:99vw;
        height:unset;
    }

    .menu-contain{
        display:flex;
        flex-direction: column;
        height:min-content;
    }

    .menu-left, .menu-right{
        width:100%;
    }

    .menu-right{
        height:25rem;
    }

    .about-contain{
        flex-direction: column-reverse;
    }

    .menu-left, .about-right{
        /* height:50rem; */
    }

    .footer-top{
        width:100%;
    }

    .logo-contain{
        display:none;
    }

    .nav-fixed-contain{
        z-index:26000;
        left:35%;
        width:unset;
        position:fixed;
        left:unset;
    }

    .nav-contain{
        justify-content:flex-end;
    }

    .fa-bars-contain{
        z-index:30000;
    }

    .book-button-contain{
        margin-left:0;
    }

    .nav{
        background:rgba(0,0,0,0.5);
    }

    #nav-fixed{
        background:transparent;
    }

    .form-nav{
        z-index:27000;
    }

    .fa-bars-contain{
        padding:0;
    }

    .fa-times{
        font-size:1.5rem;
    }

    .form-nav-curtain{
        width:100vw;
    }

    .menu-left{
        height:50rem;
    }

    /* changes added 00:07AM, 03/07/2021 */

    .animation-contain{
        width:100%;
        position:relative;
        display:block;
        height:auto;
        padding-top:100%;
        top:40%;
    }

    .animation{
        width:100%;
        display:block;
        height:100%;
        position:absolute;
        top:0;
        left:0;
    }

} 